.header-background{
  padding: 50px;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  text-align:center;
  align-items: center;
}

.header-illustration{
  position: absolute;
  z-index: -1;
  top: 50px;
  margin-left: 60px;
  height: 250px;
}

.header-main {
  margin-bottom: 2em;
  margin-left: -200px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2%;
}

.contenedor-cards{
  background-color: $indigo400;
  padding: 50px;
  & h3 {
    color: white;
    font-size: 3em;
  }
}

.header-Benefit {
  & .cardContent {
    padding-bottom: 0!important;
  }
  & div {
    padding: 0px;
  }
}

.header-Benefit-content {
  padding-top: 10%!important;
  padding-right: 10%!important;
  padding-left: 10%!important;
  padding-bottom: 10%!important;
}

.header-Benefit-corazon {
  background: $redA400;
  @extend %imagen-centro;
  & img {
    @extend %max-width;
  }
}

.header-Benefit-estrella {
  background: $lightBlueA400;
  @extend %imagen-centro;
  & img {
    @extend %max-width;
  }
}

.header-Benefit-internet {
  background: $amberA400;
  @extend %imagen-centro;
  & img {
    @extend %max-width;
  }
}

.benefit{
  display:grid;
  grid-template-columns:  .7fr 1fr;
}

.place-img {
  @extend %max-width;
}

.place {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 400px));
  grid-gap: 2%;
  justify-content: center;
}

